table, td, th {
  padding: 3px;
  border: 1px solid black;
}
.container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 0;
}

fieldset {
  display: flex;
}

label {
  padding: 3px;
  margin: 3px;
}

button {
  margin: 0 0 0 20px;
  cursor: pointer;

}

tr:hover:not(#thead){
  background-color: rgb(124, 124, 219);
  cursor: pointer;
}
